$bpDesktop: 1440px;
$bpLaptop: 1199px;
$bpTablet: 991px;
$bpMobile: 767px;
$bpPhone: 480px;

// set font
$baseFont: "HelveticaNeueCyr", "Arial", sans-serif;

// set setting color
$pageColor: #ecedee;
$primaryColor: #20286d;
