$bpDesktop: 1440px;
$bpLaptop: 1199px;
$bpTablet: 991px;
$bpMobile: 768px;
$bpPhone: 480px;

// set font
$baseFont: "HelveticaNeueCyr", "Arial", sans-serif;

// set setting color
$pageColor: #ecedee;
$primaryColor: #20286d;
$primaryColorHover: #2a3597;
$primaryColorActive: #171d4a;
$grayColor: #4e595e;
$redColor: #d04c3b;
