.aside {
  width: 278px;

  @media (max-width: $bpTablet) {
    position: fixed;
    height: 100vh;
    top: 0;
    right: 0;
    transform: translateX(101%);
    transition: .2s;
    z-index: 19;
    overflow-y: auto;

    &.-active {
      transform: translateX(0);
    }
  }

  @media (max-width: $bpPhone) {
    width: 100%;
  }

  &__close {
    width: 18px;
    display: none;
    position: absolute;
    top: 14px;
    right: 4px;
    z-index: 2;
    cursor: pointer;

    @media (max-width: $bpTablet) {
      display: block;
    }

    .line {
      width: 100%;
      display: block;
      background: #fff;
      height: 2px;
      border-radius: 2px;

      &:nth-child(1) {
        transform: rotate(45deg) translateY(1px);
      }

      &:nth-child(2) {
        transform: rotate(-45deg) translateY(-1px);
      }
    }
  }

  &__wrapper {
    padding: 0 8px 16px;
    background: $grayColor;
  }

  &__title {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100px;
    text-align: center;
    background: url("../img/aside/aside-title.jpg") center center no-repeat;
    background-size: cover;
    padding: 8px;

    .text {
      text-transform: uppercase;
      color: #fff;
      font-size: 20px;
      font-weight: 900;
    }

    @media (max-width: $bpTablet) {
      padding: 20px 8px 8px 8px;
    }
  }

  &__menu {
    background: #c2c9cc;
    padding-bottom: 40px;
    position: relative;

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      right: 0;
      width: 40px;
      height: 40px;
      background: linear-gradient(-45deg, $grayColor 50%, #c2c9cc 50%);
    }
  }

  .list-wrapper {

    .list__title {
      background: url('../img/aside/aside-title-bg.jpg') center center no-repeat;
      background-size: cover;
      padding: 5px 18px;

      .text {
        color: #ecedee;
      }
    }

    .list {
      padding: 10px 0;

      &__item {

        &.-active {

          .list__item-link {
            position: relative;

            &:before {
              content: '';
              position: absolute;
              top: 50%;
              left: 5px;
              width: 7px;
              height: 12px;
              transform: translateY(-50%);
              background: url("../img/icons/aside-arrow-right.png") center center no-repeat;
              background-size: contain;
            }
          }

          .text {
            font-weight: 500;
            text-decoration: none;
          }

          &.-has-sublist {
            background: #d0d6d8;
          }

          .sublist {
            display: block;

            .sublist__item-link {
              .text {
                font-weight: 400;
              }

              &.-active {
                .text {
                  font-weight: 500;
                }
              }
            }
          }
        }
      }

      &__item-link {
        display: block;
        padding: 5px 18px;

        .text {
          color: #3f484b;
          text-decoration: underline;
          transition: .2s;
        }

        &:hover {
          .text {
            color: $primaryColor;
          }
        }
      }

      .sublist {
        padding: 5px 32px;
        display: none;

        &__item-link {
          display: block;
          padding: 5px 0;
          
          .text {
            color: #3f484b;
            text-decoration: underline;
            transition: .2s;
          }

          &:hover {
            .text {
              color: $primaryColor;
            }
          }

          &.-active {
            position: relative;

            .text {
              font-weight: 500;
              text-decoration: none;
            }

            &:before {
              content: '';
              position: absolute;
              top: 50%;
              left: -10px;
              width: 5px;
              height: 9px;
              transform: translateY(-50%);
              background: url("../img/icons/aside-arrow-right.png") center center no-repeat;
              background-size: contain;
            }
          }
        }
      }
    }
  }

  .aside-line {
    margin: 8px 0;
    display: block;
    border-bottom: 1px #717a7e solid;

    &.-dotted {
      border-bottom: 1px #717a7e dotted;
    }
  }

  .aside__selection {
    background: #576166;
    padding: 14px 16px;


    .selection__title {
      margin-bottom: 20px;

      &:last-child {
        margin-bottom: 0;
      }

      .text {
        font-weight: 900;
        color: #ecedee;
        font-size: 20px;
        text-transform: uppercase;
      }
    }

    .selection-wrapper {
      display: flex;
      align-items: center;
      margin: 0 -5px;

      .text {
        margin: 0 5px;
        color: #ffffff;
        white-space: nowrap;
      }

      .input-number {
        margin: 0 5px;
        width: 63px;
        height: 22px;
        padding: 5px;
        border: none;
        outline: none;
      }
    }
  }

  .aside__collection {
    background: #576166;
    padding: 14px 18px;

    &:last-child {
      min-height: 260px;
    }

    .collection__title {
      margin-bottom: 20px;

      &:last-child {
        margin-bottom: 0;
      }

      .text {
        font-weight: 700;
        color: #fff;
      }
    }

    .collection__input-wrapper {
      margin-bottom: 10px;
      padding-bottom: 10px;
      border-bottom: 1px rgba(255,255,255,.5) dotted;

      &:last-child {
        margin-bottom: 0;
        padding-bottom: 0;
        border-bottom: none;
      }

      .collection__input-title {
        margin-bottom: 10px;

        &:last-child {
          margin-bottom: 0;
        }

        .text {
          font-weight: 500;
          color: #fff;
        }
      }
      .input__field {
        margin-bottom: 8px;

        &:last-child {
          margin-bottom: 0;
        }

        .input-checkbox {
          position: absolute;
          z-index: -999;
          opacity: 0;
          visibility: hidden;

          &:checked + .label {
            color: #fff;

            &:before {
              background: url('../img/aside/icon-check.png') center 40% no-repeat;
              background-size: 12px;
            }
          }
        }

        .label {
          cursor: pointer;
          display: flex;
          align-items: center;
          color: #a7acaf;
          transition: .2s;

          &:before {
            content: '';
            width: 20px;
            height: 20px;
            border: 1px #a9b4b8 solid;
            border-radius: 4px;
            margin-right: 8px;
            transition: .2s;
          }

          &:hover {
            color: #fff;
          }
        }
      }
    }
  }

  &.-catalog {

    .aside__title {
      justify-content: flex-start;
      text-align: left;
      position: relative;

      &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 200px;
        height: 100px;
        background: url('../img/aside/aside-catalog-title.png') top left no-repeat;
        background-size: cover;
      }
    }

    .aside__menu {
      padding-bottom: 0;
    }
  }
}