.breadcrumbs {
  margin-bottom: 15px;

  &.-no-line {
    .list {
      &:after {
        display: none;
      }
    }
  }

  &.-single {
    margin: 30px 0 15px;

    .list {
      padding-bottom: 15px;
      position: relative;

      &:after {
        content: '';
        width: 254px;
        height: 1px;
        bottom: 0;
        left: 20px;
        border-bottom: 1px #fff dotted;
        position: absolute;
      }
    }
  }

  .list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    .list__item {
      margin-right: 4px;
      display: flex;
      align-items: center;

      &:after {
        content: '→';
        color: #a9b4b8;
        margin-left: 4px;
        margin-bottom: 2px;
        font-size: 12px;
      }

      &:last-child {
        margin-right: 0;

        &:after {
          display: none;
        }
      }

      .text {
        font-size: 14px;
        color: #a9b4b8;
        transition: .2s;
      }

      &-link {
        .text {
          text-decoration: underline;
        }

        &:hover {
          .text {
            color: $primaryColor;
          }
        }
      }
    }
  }

  .type-detail & {
    margin: 20px 0 24px;
  }
}
