.recommend-block {
  margin-bottom: 36px;

  &:last-child {
    margin-bottom: 0;
  }

  .recommend__wrapper {
    margin-bottom: 36px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  .recommend__title {
    margin-bottom: 16px;
    margin-left: 35px;

    &:last-child {
      margin-bottom: 0;
    }

    .text {
      font-weight: 700;
      text-transform: uppercase;
      line-height: 1;
      color: rgba(78,89,94,.46);
      font-size: 20px;
    }
  }

  .recommend__button {
    margin-top: 70px;

    .link {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      width: 440px;
      height: 82px;
      background: url("../img/input-blue-bg-border.jpg") center center repeat-x;
      background-size: cover;
      margin: 0 auto;
      font-size: 16px;
      text-transform: uppercase;
      font-weight: 700;
    }
  }
}