.footer {
  padding: 35px 0 60px;
  background: #4e595e url("../img/footer-bg.png") center center no-repeat;
  background-size: cover;
  position: relative;

  &.footer-main {
    .footer__logo {
      width: 140px;
      margin-bottom: 40px;
    }

    .footer__content {

      &-item {
        &.item-info {
          display: block;
        }
      }
    }

    &__media {
      margin: 0 15px 20px;
    }
  }

  .angle {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 13.5%;

    .angle-inner {
      padding-top: 46%;
      background: linear-gradient(155deg, transparent 50%, transparent 49%, rgba(255,255,255,.2) 50%, rgba(255,255,255,.2) 100%);
    }
  }

  &__content {
    padding-bottom: 30px;
    border-bottom: 1px rgba(255,255,255,.2) solid;

    &-wrapper {
      display: flex;
      margin:0 -22px -22px;
    }

    &-item {
      margin: 0 22px 22px;

      &.item-info {
        display: flex;
        flex-wrap: wrap;
      }

      &.item-contacts {
        flex: 0 0 auto;
      }
    }
  }

  &__callback {
    width: 100%;
    margin-bottom: 40px;

    &-wrapper {
      display: flex;
      margin: 0 -35px;
      align-items: flex-end;
    }

    .footer__media {
      margin: 0 35px;
      display: flex;
      align-items: flex-end;
      justify-content: flex-start;
    }

    .footer__form {
      margin: 0 35px;
      width: 400px;
    }
  }

  &__logo {
    width: 100%;
    max-width: 300px;
    margin-right: 35px;
    flex: 0 0 auto;

    &:last-child {
      margin-bottom: 0;
    }

    .link {
      margin-bottom: 15px;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;

      &:last-child {
        margin-bottom: 0;
      }
    }

    .footer__logo-text {

      .text-wrapper, .list {
        margin-bottom: 20px;

        &:last-child {
          margin-bottom: 0;
        }
      }

      .text {
        font-size: 12px;
        color: rgba(255,255,255,.5);
      }
    }
  }

  &__info {
    margin-bottom: 40px;

    &:last-child {
      margin-bottom: 0;
    }

    &-wrapper {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -30px -30px;
    }

    &-item {
      width: calc(33.3333% - 60px);
      margin: 0 30px 30px;

      .item__title {
        padding-bottom: 10px;
        margin-bottom: 15px;
        position: relative;

        &:last-child {
          margin-bottom: 0;
        }

        &:before {
          content: '';
          position: absolute;
          left: 0;
          bottom: 0;
          height: 4px;
          width: 90px;
          background: rgba(255,255,255,.3);
        }

        .text {
          font-size: 20px;
          font-weight: 700;
        }
      }

      .item__text {
        margin-bottom: 15px;

        &:last-child {
          margin-bottom: 0;
        }

        .text {
          font-size: 12px;
          color: rgba(255,255,255,.5);
        }
      }
    }
  }

  &__contact {

    &-item {
      display: flex;
      margin-bottom: 18px;

      &:last-child {
        margin-bottom: 0;
      }

      .item__icon {
        margin-right: 20px;
        width: 18px;
        text-align: center;
      }

      .item__count {
        .link, .text {
          display: block;
        }
      }


      &.contact-phone {
        margin-bottom: 30px;
        .item__count {
          .link {
            font-size: 20px;
            font-weight: 300;
            margin-bottom: 25px;
            line-height: 1.1;

            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }

  &__bottom {
    padding-top: 35px;

    &-wrapper {
      display: flex;
      margin: 0 -15px -20px;
    }
  }

  &__nav, &__copyright {
    margin: 0 15px 20px;
  }

  &__nav {
    flex: 1 1 auto;

    &-menu {
      display: flex;
      flex-wrap: wrap;
      margin: 0 -25px -20px;

      .menu__item {
        margin: 0 25px 20px;

        &-link {
          font-size: 14px;
          color: rgba(255,255,255,.5);
          font-weight: 700;
        }
      }
    }
  }

  &__copyright {
    .text {
      font-size: 14px;
      font-weight: 300;
      color: rgba(255,255,255,.5);
    }
  }
}