.header {

  .container {
    max-width: 1351px;
  }

  .header__item {
    width: 1010px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header__content {
    background: #4e595e;
    padding: 18px 0;

    &-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .header__logo {
      width: 130px;
      position: relative;

      &:before {
        content: '';
        position: absolute;
        top: -18px;
        right: -180px;
        height: calc(100% + 36px);
        width: 608px;
        background: url('../img/logo-bg.png') right top no-repeat;
        background-size: cover;
      }

      .link {
        position: relative;
        z-index: 1;
      }
    }

    .header__nav {
      .list {
        display: flex;
        align-items: center;

        .list__item {
          flex: 0 0 auto;

          &:last-child {
            .list__item-link {
              border-right: none;
            }
          }

          &.-active {
            .list__item-link {
              color: #a9b4b8;
            }
          }
        }

        .list__item-link {
          display: flex;
          padding: 15px 20px;
          border-right: 1px #717a7e solid;

          &:hover {
            background: #717a7e;
          }
        }
      }
    }

    .header__contact {
      flex: 0 0 auto;
      .contact {
        display: flex;
        align-items: center;

        .icon {
          width: 28px;
          margin-right: 15px;
        }

        .link {
          .count {
            font-size: 20px;
            font-weight: 300;
            margin-bottom: 0;
            transition: .2s;
          }

          .text {
            font-size: 14px;
            font-weight: 300;
            border-bottom: 1px #fff solid;
            display: inline-block;
            transition: .2s;
          }

          &:hover {
            .count {
              color: #a9b4b8;
            }

            .text {
              color: #a9b4b8;
              border-bottom: 1px #a9b4b8 solid;
            }
          }
        }
      }
    }
  }

  .header__bottom {
    padding: 8px 0;
    position: relative;
    z-index: 1;

    &-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 990px;
      margin-left: auto;
    }

    .header__search {
      width: 307px;
      margin-right: 65px;
    }

    .header__city {
      margin-right: 75px;

      &-wrapper {
        display: flex;
        align-items: center;
      }

      .city__title {
        margin-right: 6px;

        .text {
          color: #4e595e;
          font-size: 18px;
        }
      }

      .city__link {
        .link {
          background: transparent;
          padding: 9px 0 5px;
          border: none;
          border-bottom: 1px #a9b4b8 solid;
          color: #4e595e;
          display: flex;
          align-items: center;
          line-height: 1;
        }

        .icon {
          margin-left: 10px;
        }
      }
    }

    .header__control {
      &-wrapper {
        display: flex;
        margin: 0 -2px -5px;
      }

      &-list {
        display: flex;
        padding: 6px;
        background: rgba(255,255,255,.7);
        margin: 0 2px 5px;
      }

      &-item {
        margin-right: 10px;
        padding: 0 10px;

        &:last-child {
          margin-right: 0;
        }

        .link {
          display: flex;
          align-items: flex-start;
          max-width: 28px;

          .icon {
            transition: .2s;
          }

          &:hover {
            .icon {
              transform: translateY(-1px);
            }
          }
        }
      }

      &-button {
        margin: 0 2px 5px;

        .link {
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          padding: 0 12px;

          &.link-white-border {
            background: url('../img/input-white-border-bg.jpg');
            background-size: cover;
            width: 174px;
            height: 42px;
            color: #282578;
            font-size: 16px;
            font-weight: 700;
          }
        }
      }
    }
  }

  &.-header-main {
    position: relative;
    z-index: 1;

    .container {
      max-width: 1470px;
    }

    .header__image-logo {
      position: absolute;
      top: 0;
      left: 40%;
      z-index: 3;
      transform: translate(-100%, -41%) rotate(-22deg);
    }

    .header__content-wrapper {
      justify-content: flex-end;
    }

    .header__nav {
      margin: 0 65px 0 115px;
    }

    .header__bottom-wrapper {
      justify-content: flex-end;
    }

    .header__bottom {
      background: rgba(206,206,207, .8);

      .header__control-list {
        background: #fff;
      }
    }
  }
}