.header {
  position: relative;
  z-index: 19;

  .container {
    max-width: 1351px;
  }

  .header__item {
    width: 1010px;
    max-width: calc(100% - 275px);
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: $bpLaptop) {
      justify-content: flex-end;
    }
  }

  .header__content {
    background: $grayColor;
    padding: 18px 0;
    position: relative;

    @media (max-width: $bpPhone) {
      padding: 10px 0;
    }

    &-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .header__logo {
      width: 130px;
      position: relative;

      &:before {
        content: '';
        position: absolute;
        top: -18px;
        right: -180px;
        height: calc(100% + 36px);
        width: 608px;
        background: url('../img/logo-bg.png') right top no-repeat;
        background-size: cover;
      }

      .link {
        position: relative;
        z-index: 1;
      }

      @media (max-width: $bpPhone) {
        width: 100px;

        &:before {
          background: #fff;
          top: -147px;
          left: -110px;
          transform: rotate(-20deg);
          height: 200px;
          right: auto;
          width: 323px;
          box-shadow: 0 0 4px 0 rgba(0, 0, 0, .1);
        }
      }
    }

    .header__nav {

      .-laptop {
        display: none;

        @media (max-width: $bpLaptop) {
          display: block;
        }
      }

      .-tablet {
        display: none;

        @media (max-width: $bpTablet) {
          display: block;
        }
      }

      .-mobile {
        display: none;

        @media (max-width: $bpMobile) {
          display: block;
        }
      }

      .-phone {
        display: none;

        @media (max-width: $bpPhone) {
          display: block;
        }
      }

      .list {
        display: flex;
        align-items: center;

        .list__item {
          flex: 0 0 auto;

          &:last-child {
            .list__item-link {
              border-right: none;
            }
          }

          &.-active {
            .list__item-link {
              color: #a9b4b8;
            }
          }
        }

        .list__item-link {
          display: flex;
          padding: 15px 20px;
          border-right: 1px #717a7e solid;

          &:hover {
            background: #717a7e;
          }
        }
      }

      .header__search {
        margin-bottom: 24px;
        width: 100%;

        .form.form-search-header {
          .form__input-wrapper {
            .input {
              color: #fff;

              &::placeholder {
                color: #fff;
              }
            }
          }
        }
      }

      .header__city {
        margin-bottom: 24px;

        .city__title {
          .text {
            color: #fff;
          }
        }

        .city__link {
          .text {
            color: #fff;
          }
        }
      }

      .header__control {
        margin-bottom: 24px;

        .header__control-wrapper {
          margin: 0;
          display: block;
        }

        .header__control-list {
          justify-content: space-between;
          margin: 0 0 12px;
        }

        .header__control-button {
          text-align: center;
          margin: 0;

          .link {
            display: inline-flex;
          }
        }
      }

      .header__contact {
        text-align: center;

        .contact {
          display: inline-flex;
        }
      }

      .header__caption {
        margin-bottom: 24px;

        &-text {
          font-weight: 700;
          opacity: .8;
        }
      }

      @media (max-width: $bpLaptop) {
        position: absolute;
        width: 360px;
        max-width: 100%;
        background: #4e595e;
        right: 0;
        bottom: 0;
        transform: translate(101%, 100%);
        z-index: 2;
        height: calc(100vh - 87.5px);
        overflow-y: auto;
        transition: .2s;

        .list {
          display: block;

          .list__item {

            .list__item-link {
              border-right: 0;
              border-bottom: 1px #717a7e solid;
            }
          }
        }

        &.-active {
          transform: translate(0, 100%);
        }
      }

      @media (max-width: $bpTablet) {
        padding: 12px 20px;

        .list {
          margin: 0 -20px 24px;
        }
      }

      @media (max-width: $bpPhone) {
        width: 100%;
        height: calc(100vh - 60px);
      }
    }

    .header__menu {
      margin-left: 44px;
      width: 22px;
      flex: 0 0 auto;
      cursor: pointer;
      display: none;

      @media (max-width: $bpLaptop) {
        display: block;
      }

      .line {
        display: block;
        width: 100%;
        height: 2px;
        background: #fff;
        margin-bottom: 4px;
        transition: .2s;
        border-radius: 2px;

        &:last-child {
          margin-bottom: 0;
        }
      }

      &.-active {
        .line {
          margin-bottom: 0;

          &:nth-child(1) {
            transform: rotate(-45deg) translateY(1px);
          }

          &:nth-child(2) {
            display: none;
          }

          &:nth-child(3) {
            transform: rotate(45deg) translateY(-1px);
          }
        }
      }

      @media (max-width: $bpMobile) {
        margin-left: 14px;
      }

      @media (max-width: $bpPhone) {
        margin-left: 0;
      }
    }

    .header__contact {
      flex: 0 0 auto;

      .contact {
        display: flex;
        align-items: center;

        .icon {
          width: 28px;
          margin-right: 15px;
        }

        .link {
          .count {
            font-size: 20px;
            font-weight: 300;
            margin-bottom: 0;
            transition: .2s;
          }

          .text {
            font-size: 14px;
            font-weight: 300;
            border-bottom: 1px #fff solid;
            display: inline-block;
            transition: .2s;
          }

          &:hover {
            .count {
              color: #a9b4b8;
            }

            .text {
              color: #a9b4b8;
              border-bottom: 1px #a9b4b8 solid;
            }
          }
        }

        @media (max-width: $bpDesktop) {
          .icon {
            width: 24px;
            margin-right: 12px;
          }

          .link {
            .count {
              font-size: 18px;
            }
          }
        }
      }

      @media (max-width: $bpPhone) {
        display: none;
      }
    }
  }

  .header__bottom {
    padding: 8px 0;
    position: relative;
    z-index: 1;

    @media (max-width: $bpMobile) {
      display: none;
    }

    &-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 990px;
      margin-left: auto;
      max-width: 100%;
    }
  }

  .header__search {
    width: 307px;
    margin-right: 65px;
  }

  .header__city {
    width: 240px;
    margin-right: 20px;

    &-wrapper {
      display: flex;
      align-items: center;
    }

    .city__title {
      margin-right: 6px;

      .text {
        color: $grayColor;
        font-size: 18px;
      }
    }

    .city__link {
      .link {
        background: transparent;
        padding: 9px 0 5px;
        border: none;
        border-bottom: 1px #a9b4b8 solid;
        color: $grayColor;
        display: flex;
        align-items: center;
        line-height: 1;
      }

      .icon {
        margin-left: 10px;
      }
    }

    @media (max-width: $bpTablet) {
      display: none;
    }
  }

  .header__control {
    flex: 0 0 auto;

    &-wrapper {
      display: flex;
      margin: 0 -2px -5px;
    }

    &-list {
      display: flex;
      padding: 6px;
      background: rgba(255, 255, 255, .7);
      margin: 0 2px 5px;
    }

    &-item {
      margin-right: 10px;
      padding: 0 10px;

      &:last-child {
        margin-right: 0;
      }

      .link {
        display: flex;
        align-items: flex-start;
        max-width: 28px;

        .icon {
          transition: .2s;
        }

        &:hover {
          .icon {
            transform: translateY(-1px);
          }
        }
      }
    }

    &-button {
      margin: 0 2px 5px;

      .link {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 12px;

        &.link-white-border {
          background: #fff;
          width: 174px;
          height: 42px;
          color: #282578;
          font-size: 16px;
          font-weight: 700;
        }
      }
    }
  }

  &.-header-main {
    position: relative;
    z-index: 19;

    .container {
      max-width: 1470px;
    }

    .header__image-logo {
      position: absolute;
      top: 0;
      left: 40%;
      z-index: 3;
      transform: translate(-100%, -44%) rotate(-20deg);

      .image-desktop {
        @media (max-width: $bpPhone) {
          display: none;
        }
      }

      .image-mobile {
        display: none;

        @media (max-width: $bpPhone) {
          display: block;
        }
      }

      .link-text {
        position: absolute;
        font-size: 18px;
        color: #4e595e;
        font-weight: 700;
        bottom: 20px;
        right: 170px;
        transform: rotate(20deg);
        line-height: 1.1;

        @media (max-width: $bpLaptop) {
          font-size: 16px;
          right: 130px;
        }

        @media (max-width: $bpTablet) {
          display: none;
        }
      }

      .header__menu {
        @media (min-width: $bpPhone + 1) {
          display: none;
        }

        position: absolute;
        top: 20px;
        right: 20px;
        width: 52px;
        cursor: pointer;

        .line {
          height: 6px;
          border-radius: 4px;
          margin-bottom: 8px;
          background: #4e595e;
          display: block;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }

      @media (max-width: $bpPhone) {
        width: 100%;
        left: 0;
        transform: none;

        .image {
          width: 100%;
        }
      }
    }

    .header__content {
      background: linear-gradient(145deg, #1e292e 30.3%, #4e595e 40%, #4e595e 100%);

      @media (max-width: $bpPhone) {
        height: 34px;
      }
    }

    .header__content-wrapper {
      justify-content: flex-end;
    }

    .header__nav {
      margin: 0 65px 0 115px;

      @media (max-width: $bpLaptop) {
        margin: 0;
        height: calc(100vh - 60px);
        padding: 12px 20px;

        .list {
          margin: 0 -20px 24px;
        }
      }

      @media (max-width: $bpPhone) {
        height: calc(100vh - 34px);
        padding: 40px 20px 20px;
      }
    }

    .header__search {
      @media (max-width: $bpLaptop) {
        display: none;
      }
    }

    .header__bottom-wrapper {
      justify-content: flex-end;
    }

    .header__bottom {
      background: rgba(206, 206, 207, .8);

      .header__control-list {
        background: #fff;
      }
    }
  }
}