.slider {
  position: relative;

  &.slider-trust {
    padding: 0 75px;
    position: relative;

    .slider__wrapper {
      position: unset;
    }

    @media (max-width: $bpTablet) {
      padding: 0 40px;
    }

    @media (max-width: $bpPhone) {
      padding: 0 0 40px;
    }

    .slick-dots {
      position: absolute;
      left: 50%;
      width: 90%;
      transform: translateX(-50%);
      bottom: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 -5px -5px;

      li {
        margin: 0 5px 5px;
        flex: 0 0 auto;

        button {
          width: 14px;
          height: 14px;
          border-radius: 50%;
          outline: none;
          display: block;
          font-size: 0;
          background: #fff;
          border: 1px #999 solid;
        }

        &.slick-active {
          button {
            background: $primaryColorHover;
            border: 1px $primaryColorHover solid;
          }
        }
      }
    }

    .slider__item {
      padding: 0 10px;

      &-wrapper {
        display: flex;
        margin: 0 -10px;

        @media (max-width: 414px) {
          display: block;
          margin: 0;
        }
      }

      .item {

        &__image, &__content {
          margin: 0 10px;

          @media (max-width: 414px) {
            margin: 0 0 10px;

            &:last-child {
              margin-bottom: 0;
            }
          }
        }

        &__image {
          flex: 0 0 auto;
          width: 140px;

          .image-block {
            padding-bottom: 20px;
          }

          .image-wrapper {
            padding-top: 100%;
            border-radius: 50%;
            overflow: hidden;
            position: relative;
            box-shadow: 0 7px 16px rgba(0, 0, 0, .36px);

            .image {
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              height: 100%;
              min-width: 100%;
              max-width: 10000%;
            }
          }

          @media (max-width: $bpTablet) {
            width: 100px;
          }

          @media (max-width: $bpPhone) {
            display: none;
          }
        }

        &__content {

          @media (max-width: 414px) {
            width: 100%;
          }

          .item__title {
            margin-bottom: 10px;
            position: relative;
            padding-bottom: 12px;

            &:before {
              content: '';
              position: absolute;
              left: 0;
              bottom: 0;
              width: 90px;
              height: 4px;
              background: url("../img/main/trust/line.png");
              background-size: cover;
            }

            &:last-child {
              margin-bottom: 0;
            }

            .text {
              color: $grayColor;
              font-size: 30px;
            }
          }

          .item__company {
            width: 60px;
            height: 40px;
            display: flex;
            align-items: center;
            margin-bottom: 12px;

            &:last-child {
              margin-bottom: 0;
            }
          }

          .item__text {
            margin-bottom: 12px;

            &:last-child {
              margin-bottom: 0;
            }

            .text {
              color: $grayColor;
            }
          }
        }

        &__media {
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 0 -5px -10px;

          .media__item {
            margin: 0 5px 10px;
            max-width: 44px;

            .link {
              opacity: .5;
              display: flex;
              align-items: flex-start;

              &:hover {
                opacity: 1;
              }
            }
          }
        }

        &__text {
          .image-mobile-wrapper {
            @media (min-width: $bpPhone + 1) {
              display: none;
            }
            display: inline;
            width: 145px;
            height: 145px;
            overflow: hidden;
            border-radius: 50%;
            position: relative;
            flex: 0 0 auto;

            .image {
              position: absolute;
              height: 100%;
              min-width: 100%;
              max-width: 200%;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
            }
          }

          @media (max-width: $bpPhone) {
            display: flex;
            .text {
              display: inline;
            }
          }
        }
      }

      @media (max-width: $bpPhone) {
        padding: 0;
      }
    }

    .slider-buttons {
      position: absolute;
      top: 50%;
      width: 100%;
      left: 0;
      transform: translateY(-50%);
      display: flex;
      justify-content: space-between;

      .slider-button-prev, .slider-button-next {
        width: 40px;
        height: 70px;
        cursor: pointer;

        @media (max-width:$bpTablet) {
          width: 30px;
          height: 55px;
        }

        @media (max-width: $bpPhone) {
          display: none;
        }
      }

      .slider-button-prev {
        background: url("../img/main/trust/arrow-prev.png") center center no-repeat;
        background-size: cover;
      }

      .slider-button-next {
        background: url("../img/main/trust/arrow-next.png") center center no-repeat;
        background-size: cover;
      }

      @media (max-width: $bpPhone) {
        display: none;
      }
    }
  }

  &.slider-demo {
    margin: 0 -5px;

    @media (max-width: $bpPhone) {
      margin: 0;
    }

    .slider__wrapper {
      .slider__item {
        margin: 0 5px;
        position: relative;

        @media (max-width: $bpPhone) {
          margin: 0;
        }

        &:nth-child(2n + 1) {
          .slider__image-logo {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 35.365%;
            background: url('../img/main/demo/slider-bg-left.png') center center no-repeat;
            background-size: cover;
            display: flex;
            justify-content: flex-end;
            align-items: flex-start;
            padding-right: 55px;
            padding-left: 15px;

            @media (max-width: $bpPhone) {
              width: 62.5%;
              height: 37.5%;
              top: 0;
              left: 0;
              padding: 12px;
              background: linear-gradient(159deg, #ecedee 50%, transparent 50%, transparent 100%);
              display: block;

              .image {
                width: 60px;
              }
            }
          }
        }

        &:nth-child(2n) {
          .slider__image-logo {
            position: absolute;
            top: 0;
            right: 0;
            height: 100%;
            width: 35.365%;
            background: url('../img/main/demo/slider-bg-right.png') center center no-repeat;
            background-size: cover;
            display: flex;
            align-items: flex-start;
            padding-left: 55px;
            padding-right: 15px;

            @media (max-width: $bpPhone) {
              width: 62.5%;
              height: 37.5%;
              top: 0;
              left: 0;
              padding: 12px;
              background: linear-gradient(159deg, #ecedee 50%, transparent 50%, transparent 100%);
              display: block;

              .image {
                width: 60px;
              }
            }
          }
        }

        .slider__image {
          padding-top: 56.856%;
          background-size: cover;
          background-position: center center;

          @media (max-width: $bpPhone) {
            padding-top: 65%;
          }
        }

        .slider__image-logo {
          padding-top: 30px;
        }
      }

      .slick-prev {
        position: absolute;
        width: 21px;
        height: 40px;
        background: url('../img/icons/icon-arrow-white-left.png');
        background-size: cover;
        top: 50%;
        left: 20px;
        transform: translateY(-50%);
        font-size: 0;
        border: none;
        outline: none;
        z-index: 1;
        display: none !important;
      }

      .slick-next {
        position: absolute;
        width: 21px;
        height: 40px;
        background: url('../img/icons/icon-arrow-white-right.png');
        background-size: cover;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
        font-size: 0;
        border: none;
        outline: none;
        z-index: 1;
      }
    }

    .slider__content {
      margin: 0 auto;
      width: 1024px;
      max-width: 100%;
      padding: 20px 90px;
      position: relative;

      @media (max-width: $bpPhone) {
        padding: 20px 12px;
      }

      .slider-arrow-prev {
        position: absolute;
        top: 50%;
        left: 0;
        width: 43px;
        height: 80px;
        transform: translateY(-50%);
        z-index: 1;
        background: url("../img/main/demo/slider-arrow-left.png");
        cursor: pointer;
        transition: .2s;

        &:hover {
          transform: translate(-5px, -50%);
        }

        @media (max-width: $bpTablet) {
          left: 10px;
        }

        @media (max-width: $bpPhone) {
          display: none;
        }
      }

      .slider-arrow-next {
        position: absolute;
        top: 50%;
        right: 0;
        width: 43px;
        height: 80px;
        transform: translateY(-50%);
        z-index: 1;
        background: url("../img/main/demo/slider-arrow-right.png");
        cursor: pointer;
        transition: .2s;

        &:hover {
          transform: translate(5px, -50%);
        }

        @media (max-width: $bpTablet) {
          right: 10px;
        }

        @media (max-width: $bpPhone) {
          display: none;
        }
      }

      .item__wrapper {
        margin: 0 -70px;

        .item {
          margin: 0 70px;

          &:nth-child(2n + 1) {
            .item__name {
              &:before {
                content: '';
                width: 92px;
                height: 4px;
                position: absolute;
                bottom: 0;
                left: 0;
                background: url("../img/border-blue.png");

                @media (max-width: $bpPhone) {
                  width: 70px;
                  height: 3px;
                }
              }
            }
          }

          &:nth-child(2n) {
            .item__name {
              &:before {
                content: '';
                width: 92px;
                height: 4px;
                position: absolute;
                bottom: 0;
                left: 0;
                background: url("../img/border-red.png");

                @media (max-width: $bpPhone) {
                  width: 70px;
                  height: 3px;
                }
              }
            }
          }

          &__name {
            padding-bottom: 10px;
            margin-bottom: 20px;
            position: relative;

            .text {
              color: #20286d;
              font-size: 30px;
            }

            @media (max-width: $bpPhone) {
              padding-bottom: 3px;
              .text {
                font-size: 23px;
              }
            }
          }

          &__title {
            margin-bottom: 10px;

            .text {
              color: $grayColor;
              font-size: 20px;
              font-weight: 700;
            }
          }

          &__text {
            .text {
              color: $grayColor;

            }
          }
        }

        @media (max-width: $bpPhone) {
          margin: 0;

          .item {
            margin: 0;
          }
        }
      }
    }
  }

  &.slider-video {
    width: 1490px;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 60px;

    @media (max-width: $bpPhone) {
      padding: 0;
    }

    .slider__wrapper {
      .slick-list {
        padding: 0 !important;
      }

      @media (max-width: $bpPhone) {
        padding-bottom: 40px;
      }
    }

    .slick-dots {
      position: absolute;
      left: 50%;
      width: 90%;
      transform: translateX(-50%);
      bottom: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 -5px -5px;

      li {
        margin: 0 5px 5px;
        flex: 0 0 auto;

        button {
          width: 14px;
          height: 14px;
          border-radius: 50%;
          outline: none;
          display: block;
          font-size: 0;
          background: #fff;
          border: 1px #999 solid;
        }

        &.slick-active {
          button {
            background: $primaryColorHover;
            border: 1px $primaryColorHover solid;
          }
        }
      }
    }

    .slider__item {
      transition: .2s;
      opacity: 0;
      width: 490px;
      margin-top: 70px;
      margin-right: -108px;

      &.slick-current {
        width: 740px;
        margin: 0 -55px;
        position: relative;
        z-index: 2;

        & + .slider__item {
          margin-left: -108px;


          .item__content {
            margin-left: auto;
            margin-right: 0;
          }
        }

        .item__image {
          margin-bottom: 35px;

          @media (max-width: $bpPhone) {
            margin-bottom: 18px;
          }
        }

        .item__content {
          margin: 0 auto;
        }
      }

      &.slick-active {
        opacity: 1;
        position: relative;
      }

      .item__image {
        margin-bottom: 25px;

        &:last-child {
          margin-bottom: 0;
        }

        .image-wrapper {
          padding-top: 56%;
          background-size: cover;
          background-position: center top;
          background-repeat: no-repeat;
          border: 1px #fff solid;
          box-shadow: 0 0 10px 0 rgba(0, 0, 0, .1);
        }

        @media (max-width: $bpPhone) {
          margin-bottom: 16px;
        }
      }

      .item__content {
        width: 320px;
        max-width: 100%;
        margin-left: 30px;

        @media (max-width: $bpPhone) {
          width: 100%;
          padding: 0 12px;
        }
      }

      .item__title {
        margin-bottom: 32px;
        position: relative;

        &:before {
          content: '';
          position: absolute;
          bottom: -4px;
          left: 0;
          width: 92px;
          height: 4px;
        }

        &:last-child {
          margin-bottom: 0;
        }

        .text {
          color: #4e595e;
          font-size: 30px;
        }

        &.-blue {
          &:before {
            background: url('../img/border-blue.png') center center no-repeat;
            background-size: cover;
          }
        }

        &.-red {
          &:before {
            background: url('../img/border-red.png') center center no-repeat;
            background-size: cover;
          }
        }

        &.-violent {
          &:before {
            background: url('../img/border-violent.png') center center no-repeat;
            background-size: cover;
          }
        }
      }

      .item__text {
        .text {
          color: #4e595e;
        }
      }


      @media (max-width: $bpTablet) {
        margin: 0;
        width: 100%;
        transition: 0s;

        &.slick-current {
          margin: 0;
          width: 100%;

          & + .slider__item {
            margin: 0;
          }
        }
      }
    }

    .slider-button-prev {
      position: absolute;
      top: 170px;
      left: 10px;
      width: 41px;
      height: 79px;
      background: url("../img/icons/icon-arrow-gray-left.png") center center no-repeat;
      background-size: cover;
      cursor: pointer;
      transition: .2s;

      &:hover {
        transform: translateY(-1px);
      }

      @media (max-width: $bpPhone) {
        display: none;
      }
    }

    .slider-button-next {
      position: absolute;
      top: 170px;
      right: 10px;
      width: 41px;
      height: 79px;
      background: url("../img/icons/icon-arrow-gray-right.png") center center no-repeat;
      background-size: cover;
      cursor: pointer;
      transition: .2s;

      &:hover {
        transform: translateY(-1px);
      }

      @media (max-width: $bpPhone) {
        display: none;
      }
    }
  }

  &.slider-recommend {
    .slider__wrapper {
      background: #fafbfc;
      padding: 0 40px;
      position: relative;
      border-radius: 10px;

      @media (max-width: 600px) {
        padding: 0;
        background: transparent;
      }

      .slick-disabled {
        display: none !important;
      }

      .slick-prev {
        position: absolute;
        top: 50%;
        left: 20px;
        transform: translate(-50%, -50%);
        width: 21px;
        height: 40px;
        background: transparent url('../img/icons/icon-arrow-gray-left.png') center center no-repeat;
        background-size: contain;
        border: none;
        font-size: 0;
        padding: 0;
        cursor: pointer;
      }

      .slick-next {
        position: absolute;
        top: 50%;
        right: 20px;
        transform: translate(50%, -50%);
        width: 21px;
        height: 40px;
        background: transparent url('../img/icons/icon-arrow-gray-right.png') center center no-repeat;
        background-size: contain;
        border: none;
        font-size: 0;
        padding: 0;
        cursor: pointer;
      }

      .item {

        &-wrapper {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          height: 100%;
          position: relative;
        }

        &__image {
          width: 152px;
          max-width: 100%;
          height: 130px;
          padding: 8px;
          background: #fff;
          overflow: hidden;
          position: relative;
          border-radius: 10px;
          box-shadow: 0 0 8px 4px rgba(0, 0, 0, .08);
          margin-bottom: 8px;
          transition: .3s;

          &:last-child {
            margin-bottom: 0;
          }

          .image-wrapper {
            width: calc(100% - 16px);
            height: calc(100% - 16px);
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            z-index: 1;
          }
        }

        &__title {
          transition: .3s;

          &:last-child {
            margin-bottom: 0;
          }

          .text {
            font-size: 20px;
            color: #0a4057;
            font-weight: 700;
            text-transform: uppercase;
          }
        }

        &__price {
          transition: .3s;

          .text {
            color: $grayColor;
            font-size: 15px;
            font-weight: 300;

            span {
              color: #20286d;
              font-size: 24px;
            }
          }
        }

        &__button {
          opacity: 0;
          visibility: hidden;
          transition: .4s;
          position: absolute;
          bottom: 0;
          left: 50%;
          transform: translate(-50%, 18px);

          .link {
            font-size: 12px;
            height: 28px;
          }
        }
      }

      .slider__item {
        height: 290px;
        padding: 26px 15px;
        transition: .2s;

        @media (max-width: 600px) {
          padding: 8px;
          height: auto;
        }

        &:hover {
          cursor: pointer;
          background: #dee0e3;

          .item__image, .item__title, .item__price {
            transform: translateY(-18px);
          }

          .item__button {
            transform: translate(-50%, 0);
            opacity: 1;
            visibility: visible;
          }
        }
      }
    }
  }

  &.slider-main {
    width: 1180px;
    max-width: 100%;
    margin: 0 auto;
    position: relative;

    @media (max-width: $bpTablet) {
      padding: 0;
    }

    .slider__wrapper {

      .slick-disabled {
        display: none !important;
      }

      .slick-prev {
        position: absolute;
        font-size: 0;
        width: 43px;
        height: 80px;
        top: 50%;
        left: -30px;
        transform: translate(-100%, -50%);
        background: transparent url("../img/icons/icon-arrow-gray-left.png") center center no-repeat;
        background-size: contain;
        border: none;
        z-index: 2;
        transition: .2s;

        &:hover {
          transform: translate(-100%, calc(-50% - 2px));
        }
      }

      .slick-next {
        position: absolute;
        font-size: 0;
        width: 43px;
        height: 80px;
        top: 50%;
        right: -30px;
        transform: translate(100%, -50%);
        background: transparent url("../img/icons/icon-arrow-gray-right.png") center center no-repeat;
        background-size: contain;
        border: none;
        z-index: 2;
        transition: .2s;

        &:hover {
          transform: translate(100%, calc(-50% - 2px));
        }
      }

      &:before {
        content: '';
        position: absolute;
        height: 100%;
        width: 200px;
        left: 0;
        top: 0;
        transform: translateX(-100%);
        background: url("../img/main-slider/arrow-prev-bg.jpg") center center no-repeat;
        background-size: cover;
      }

      &:after {
        content: '';
        position: absolute;
        height: 100%;
        width: 200px;
        right: 0;
        top: 0;
        transform: translateX(100%);
        background: url("../img/main-slider/arrow-next-bg.jpg") center center no-repeat;
        background-size: cover;
      }

      .item {

        &-wrapper {
          position: relative;
        }

        &__image {
          .image-wrapper {
            padding-top: 37.7%;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: cover;
          }
        }

        &__title {
          position: absolute;
          top: 35px;
          left: 40px;
          z-index: 1;

          .text {
            font-weight: 900;
            font-size: 53px;
            color: #ecedee;
            text-transform: uppercase;
          }
        }

        @media (max-width: $bpTablet) {
          &__title {
            .text {
              font-size: 42px;
            }
          }
        }

        @media (max-width: $bpMobile) {
          &__title {
            top: auto;
            left: auto;
            bottom: 20px;
            right: 20px;

            .text {
              font-size: 36px;
              color: #fff;
            }
          }
        }

        @media (max-width: $bpPhone) {
          &__title {
            .text {
              font-size: 28px;
            }
          }

          &__image {
            .image-wrapper {
              padding-top: 50%;
            }
          }
        }
      }
    }

    .slider__wrapper-nav {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 1070px;
      max-width: 100%;
      margin: 35px auto 0;

      .slick-disabled {
        display: none !important;
      }

      .nav__item {
        .link {
          max-width: 174px;
          min-width: 90px;
          height: 42px;
          display: flex;
          align-items: center;
          justify-content: center;
          border-left: 2px #92979c solid;
          padding: 0 15px;
          cursor: pointer;
          color: $grayColor;
          font-size: 16px;
          text-align: center;
          line-height: 1.1;

          .border {
            display: none;
            position: absolute;
          }
        }

        &:first-of-type {
          .link {
            border-left: none;
          }
        }

        &.-active {
          .link {
            width: 174px;
            border-left: none;
            font-weight: 700;
            background: #fff;
            color: #282578;
            position: relative;

            .border {
              display: block;
            }
          }

          & + .nav__item {
            .link {
              border-left: none;
            }
          }
        }
      }

      @media (max-width: $bpTablet) {
        display: none;
      }
    }
  }

  &.slider-double-video {
    position: relative;

    @media (max-width: 1300px) {
      padding: 0 45px;
    }

    @media (max-width: $bpPhone) {
      padding: 0 0 30px;
    }

    .slick-dots {
      position: absolute;
      left: 50%;
      width: 90%;
      transform: translateX(-50%);
      bottom: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 -5px -5px;

      li {
        margin: 0 5px 5px;
        flex: 0 0 auto;

        button {
          width: 14px;
          height: 14px;
          border-radius: 50%;
          outline: none;
          display: block;
          font-size: 0;
          background: #fff;
          border: 1px #999 solid;
        }

        &.slick-active {
          button {
            background: $primaryColorHover;
            border: 1px $primaryColorHover solid;
          }
        }
      }
    }

    .slider-button-prev {
      width: 41px;
      height: 79px;
      position: absolute;
      background: url('../img/icons/icon-arrow-gray-left.png') center center no-repeat;
      background-size: cover;
      top: 158px;
      left: -23px;
      transform: translate(-100%, -50%);
      cursor: pointer;
      transition: .2s;

      @media (min-width: 1301px) {
        &:hover {
          transform: translate(-100%, calc(-50% - 2px));
        }
      }

      @media (max-width: 1300px) {
        top: 25%;
        left: 0;
        width: 31px;
        height: 58px;
        transform: translate(0, calc(-50% - 2px));
      }

      @media (max-width: $bpMobile) {
        top: 32%;
      }

      @media (max-width: $bpPhone) {
        display: none;
      }
    }

    .slider-button-next {
      width: 41px;
      height: 79px;
      position: absolute;
      background: url('../img/icons/icon-arrow-gray-right.png') center center no-repeat;
      background-size: cover;
      top: 32%;
      right: -23px;
      transform: translate(100%, -50%);
      cursor: pointer;
      transition: .2s;

      @media (min-width: 1301px) {
        &:hover {
          transform: translate(100%, calc(-50% - 2px));
        }
      }

      @media (max-width: 1300px) {
        top: 25%;
        right: 0;
        width: 31px;
        height: 58px;
        transform: translate(0, calc(-50% - 2px));
      }

      @media (max-width: $bpMobile) {
        top: 32%;
      }

      @media (max-width: $bpPhone) {
        display: none;
      }
    }

    .slider__wrapper {
      margin: 0 -23px;
      position: unset;
    }

    .slider__item {
      margin: 0 23px;

      .item__video {
        margin-bottom: 25px;
        display: flex;
        position: relative;

        &:last-child {
          margin-bottom: 0;
        }

        .video {
          max-width: 100%;
        }

        .video-image {
          position: absolute;
          width: 100%;
          height: 100%;
          z-index: 1;
          top: 0;
          left: 0;
          cursor: pointer;

          &:before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -30%);
            width: 50px;
            height: 50px;
            background: url("../img/slider-double-video/icon-play.png") center center no-repeat;
            background-size: cover;
            z-index: 2;
            transition: .2s;
            opacity: 0;
            visibility: hidden;
          }

          &:hover {
            &:before {
              opacity: 1;
              visibility: visible;
              transform: translate(-50%, -50%);
            }
          }
        }
      }

      .item__title {
        margin-bottom: 25px;

        &:last-child {
          margin-bottom: 0;
        }

        .text {
          font-size: 30px;
          color: $grayColor;
          position: relative;

          &.-border-bottom-blue {
            &:before {
              content: '';
              position: absolute;
              left: 0;
              bottom: 0;
              transition: .2s;
              transform: translateY(100%);
              width: 92px;
              height: 4px;
              background: url('../img/slider-double-video/border-bottom-blue.jpg') center center no-repeat;
              background-size: cover;
              z-index: 1;
            }
          }

          &.-border-bottom-red {
            &:before {
              content: '';
              position: absolute;
              left: 0;
              bottom: 0;
              transition: .2s;
              transform: translateY(100%);
              width: 92px;
              height: 4px;
              background: url('../img/slider-double-video/border-bottom-red.jpg') center center no-repeat;
              background-size: cover;
              z-index: 1;
            }
          }
        }
      }

      .item__text {
        margin-bottom: 25px;

        &:last-child {
          margin-bottom: 0;
        }

        .text {
          color: $grayColor;
          line-height: 1.6;
        }
      }
    }
  }

  &.slider-catalog {
    padding: 10px 70px 10px 30px;
    background: #fff;
    border-radius: 10px;

    .slider__wrapper {
      margin: 0 -12px;

      .slick-list {
        padding: 10px 0 20px;
      }
    }

    .slider__item {
      margin: 0 12px;

      @media (max-width: $bpPhone) {
        width: 160px;
      }

      .item__image {
        width: 153px;
        height: 209px;
        border: 8px #fff solid;
        border-radius: 8px;
        box-shadow: 0 0 4px 2px rgba(0, 0, 0, .1);
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        margin-bottom: 20px;

        &:last-child {
          margin-bottom: 0;
        }
      }

      .item__title {
        margin-bottom: 6px;

        &:last-child {
          margin-bottom: 0;
        }

        .text {
          font-weight: 700;
          text-transform: uppercase;
          color: #0a4057;
          font-size: 20px;
          line-height: 1.1;
        }
      }

      .item__link {
        .link {
          font-weight: 300;
          color: #4e595e;
          font-size: 15px;
          text-decoration: underline;
        }
      }
    }

    .slider-button-next {
      width: 20px;
      height: 39px;
      position: absolute;
      top: 104px;
      right: 17px;
      background: url('../img/icons/icon-arrow-gray-right.png') center center no-repeat;
      background-size: cover;
      cursor: pointer;
    }
  }

  &.slider-detail {
    display: flex;
    align-items: flex-start;

    @media (max-width: $bpPhone) {
      display: block;
    }

    .slider-vertical {
      padding: 30px 0;
      position: relative;
      margin-right: 10px;
      flex: 0 0 auto;
      width: 110px;

      @media (max-width: $bpPhone) {
        padding: 0 30px;
        width: 100%;
        margin-right: 0;
        margin-bottom: 25px;
      }

      .slider-button-prev {
        width: 33px;
        height: 18px;
        position: absolute;
        top: 15px;
        left: 50%;
        transform: translate(-50%, -50%);
        background: url('../img/icons/icon-arrow-gray-up.png');
        background-size: cover;
        cursor: pointer;

        @media (max-width: $bpPhone) {
          top: 50%;
          left: 0;
          transform: translateY(-50%);
          width: 16px;
          height: 30px;
          background: url('../img/icons/icon-arrow-gray-left.png');
          background-size: cover;
        }
      }

      .slider-button-next {
        width: 33px;
        height: 18px;
        position: absolute;
        bottom: 15px;
        left: 50%;
        transform: translate(-50%, 50%);
        background: url('../img/icons/icon-arrow-gray-down.png');
        background-size: cover;
        cursor: pointer;

        @media (max-width: $bpPhone) {
          top: 50%;
          right: 0;
          transform: translateY(-50%);
          width: 16px;
          height: 30px;
          background: url('../img/icons/icon-arrow-gray-right.png');
          background-size: cover;
          bottom: auto;
          left: auto;
        }
      }

      .slider-vertical__wrapper {
        margin: -5px -10px;
        padding: 0 10px;

        @media (max-width: $bpPhone) {
          margin: 0 -10px;
          padding: 0;
        }
      }

      .slider-vertical__item {
        margin: 5px 0;

        @media (max-width: $bpPhone) {
          margin: 0 10px;
        }

        .link {
          display: block;
          width: 110px;
          height: 110px;
          background: #fff;
          border-radius: 4px;
          position: relative;

          .image-wrapper {
            position: absolute;
            width: calc(100% - 8px);
            height: calc(100% - 8px);
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }

          @media (max-width: $bpPhone) {
            margin: 0 auto;
          }
        }

        &.slick-current {
          .link {
            background: #d04c3b;
          }
        }
      }
    }

    .slider-content {
      flex: 1 1 auto;
      max-width: calc(100% - 120px);

      @media (max-width: $bpPhone) {
        max-width: 100%;
      }

      .slider-content-rating {
        height: 30px;
        display: flex;
        align-items: center;

        .stars {
          margin-right: 10px;
        }

        .rating-text {
          color: #283338;
          font-size: 14px;
        }
      }

      .slider-content__item {
        .item-wrapper {
          display: flex;

          .content__gallery {
            width: 356px;
            flex: 0 0 auto;
            margin-right: 15px;

            .gallery-item-single {
              padding-top: 100%;
              background: #fff;
              border-radius: 8px;
              position: relative;
              margin-bottom: 20px;

              &:last-child {
                margin-bottom: 0;
              }

              .image-wrapper {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                width: calc(100% - 16px);
                height: calc(100% - 16px);
                background-size: cover;
              }
            }

            .gallery-title {
              margin-bottom: 16px;
              text-align: center;
              overflow: hidden;

              &:last-child {
                margin-bottom: 0;
              }

              .text {
                display: inline-block;
                font-size: 12px;
                color: #444e54;
                font-weight: 700;
                position: relative;

                &:before {
                  content: '';
                  width: 200px;
                  height: 1px;
                  position: absolute;
                  background: #cad0d3;
                  top: 50%;
                  left: -10px;
                  transform: translate(-100%, -50%);
                }

                &:after {
                  content: '';
                  width: 200px;
                  height: 1px;
                  background: #cad0d3;
                  position: absolute;
                  top: 50%;
                  right: -10px;
                  transform: translate(100%, -50%);
                }
              }
            }

            .gallery__wrapper {
              display: flex;
              margin: 0 -6px;
            }

            .gallery__item {
              width: calc(33.3333% - 12px);
              margin: 0 6px;

              .link {
                width: 100%;
                padding-top: 100%;
                background: #fff;
                display: block;
                position: relative;
                border-radius: 4px;

                .image-wrapper {
                  position: absolute;
                  top: 50%;
                  left: 50%;
                  transform: translate(-50%, -50%);
                  width: calc(100% - 12px);
                  height: calc(100% - 12px);
                  background-size: cover;
                }
              }
            }
          }

          .content__info {
            width: 250px;
            margin-right: 35px;
            flex: 0 0 auto;

            .content__user-control {
              margin-bottom: 12px;

              .user-control-wrapper {
                display: flex;
                align-items: center;

                .link-wrapper {
                  display: flex;
                  align-items: center;
                  background: #fff;
                  padding: 7px 20px;
                  margin-right: 14px;
                  height: 42px;

                  &:last-child {
                    margin-right: 0;
                  }

                  .link {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin-right: 22px;

                    &:last-child {
                      margin-right: 0;
                    }

                    .image {
                      max-width: 28px;
                      height: 25px;
                      transition: .2s;
                    }

                    &:hover {

                      .image {
                        transform: translateY(-2px);
                      }
                    }
                  }
                }

                .control-logo {
                  height: 42px;
                  display: flex;
                  align-items: center;
                  justify-content: flex-start;
                }
              }
            }

            .content__article {
              margin-bottom: 16px;
              position: relative;

              &:before {
                position: absolute;
                content: '';
                width: 63px;
                height: 3px;
                left: 0;
                bottom: -6px;
                background: url('../img/border-dark-blue.png');
                background-size: cover;
              }

              &:last-child {
                margin-bottom: 0;
              }

              .text {
                font-size: 14px;
                color: #283338;

                .count {
                  color: #20286d;
                }
              }
            }

            .content__price {
              margin-bottom: 10px;

              .text {
                font-weight: 300;
                color: #4e595e;
                font-size: 23px;
                line-height: 1;

                .count {
                  font-size: 63px;
                  color: $primaryColor;
                }
              }
            }

            .content__calc {
              background: #dee0e3;
              margin-left: -15px;
              padding: 14px 60px 14px 17px;
              border-radius: 0 10px 10px 0;
              margin-bottom: 14px;
              display: inline-block;

              .text {
                display: block;
                color: #4e595e;
                margin-bottom: 10px;
                line-height: 1;

                &:last-child {
                  margin-bottom: 0;
                }

                .count {
                  font-size: 38px;
                  color: $primaryColor;
                }
              }

              .link {
                display: inline-flex;
                height: 28px;
                padding: 0 20px;
                align-items: center;
                justify-content: center;
                line-height: 28px;
                color: #fff;
                font-weight: 700;
                text-align: center;
                font-size: 12px;
                background: #444e54;

                &:hover {
                  background: #74848D;
                }

                &:active {
                  background: #30363C;
                }
              }
            }

            .content__button {
              margin-bottom: 20px;

              .button-wrapper {
                display: flex;

                .link {
                  width: 115px;
                  height: 41px;
                  line-height: 1.2;
                  display: flex;
                  align-items: center;
                  text-align: center;
                  text-transform: uppercase;
                  color: #fff;
                  font-size: 12px;
                  font-weight: 700;
                  padding: 0 20px;
                  margin-right: 18px;

                  &:last-child {
                    margin-right: 0;
                  }

                  &.link-red {
                    background: url('../img/button-red-bg.png');
                    background-size: cover;
                  }

                  &.link-blue {
                    background: url('../img/button-blue-light-bg.png');
                    background-size: cover;
                  }
                }
              }
            }

            .content__delivery {

              .link {
                display: inline-flex;
                height: 28px;
                align-items: center;
                justify-content: center;
                text-align: center;
                padding: 0 30px;
                background: #babec1;
                font-weight: 700;
                font-size: 12px;
                color: #444e54;
                margin-bottom: 24px;

                &:last-child {
                  margin-bottom: 0;
                }

                &:hover {
                  background: #F0F4F7;
                }

                &:active {
                  background: #5A5C5E;
                  color: #fff;
                }
              }
              .text {
                display: block;
                margin-bottom: 16px;
                color: rgba(#333c41, .5);
                font-size: 12px;

                &:last-child {
                  margin-bottom: 0;
                }

              }
            }
          }

          .content__caption {
            width: 374px;
          }

          .content__text {
            margin-bottom: 30px;

            .text {
              margin-bottom: 20px;
              display: block;
              color: #333c41;
            }
          }

          .content__product {
            width: 310px;
            max-width: 100%;
            margin: 0 auto 30px;

            &:last-child {
              margin: 0 auto;
            }

            .product__item {
              margin-bottom: 20px;

              &:last-child {
                margin-bottom: 0;
              }

              .item-wrapper {
                display: flex;
              }

              .item__image {
                margin-right: 15px;
                width: 33.3333%;
                display: flex;
                align-items: flex-start;
                justify-content: flex-end;
              }

              .item__content {
                width: 66.6666%;
              }

              .item__title {
                position: relative;
                margin-bottom: 20px;

                &:last-child {
                  margin-bottom: 0;
                }

                &:before {
                  content: '';
                  position: absolute;
                  width: 32px;
                  height: 2px;
                  background: #4e595e;
                  left: 0;
                  bottom: -4px;
                }

                .text {
                  font-weight: 900;
                  color: #4e595e;
                  font-size: 15px;
                  text-transform: uppercase;
                  line-height: 1.1;
                  transition: .2s;

                  .count {
                    display: block;
                    font-size: 32px;
                    margin-bottom: 4px;
                    line-height: 1;
                  }
                }
              }

              .item__text {
                margin-bottom: 20px;

                &:last-child {
                  margin-bottom: 0;
                }

                .text {
                  font-size: 12px;
                  color: rgba(#333c41, .5);
                }
              }

              .link {
                &:hover {
                  .item__title {
                    .text {
                      color: #D04C3B;
                    }
                  }
                }
              }
            }
          }

          @media (max-width: 1100px) {
            flex-wrap: wrap;

            .content__info {
              margin-right: 0;
              width: calc(100% - 371px);
            }

            .content__caption {
              width: 100%;
              margin-top: 30px;
            }

            .content__product {
              margin: 0;

              &:last-child {
                margin: 0;
              }
            }
          }

          @media (max-width: $bpMobile) {
            display: block;

            .content__info {
              width: 100%;
              margin: 0 0 25px;
            }

            .content__gallery {
              margin: 0 0 25px;
              max-width: 100%;
            }

            .content__caption {
              margin: 0;
            }
          }

          @media (max-width: $bpPhone) {
            .content__gallery {
              width: 100%;
            }
          }
        }
      }
    }
  }

  &.slider-dsc-catalog {
    padding: 0 40px;
    width: 880px;
    max-width: 100%;

    @media (max-width: $bpPhone) {
      padding: 0;
    }

    .slick-dots {
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 15px -5px -5px;

      li {
        margin: 0 5px 5px;
        display: flex;

        button {
          font-size: 0;
          border-radius: 50%;
          border: none;
          background: #b5c2c8;
          width: 12px;
          height: 12px;
          display: inline-block;
        }

        &.slick-active {
          button {
            background: $primaryColor;
          }
        }
      }
    }

    .slider-button-prev {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 27px;
      height: 51px;
      background: url('../img/icons/icon-arrow-gray-left.png') center center no-repeat;
      background-size: cover;
      cursor: pointer;
      transition: .2s;

      &:hover {
        transform: translateY(calc(-50% - 1px));
      }

      @media (max-width: $bpPhone) {
        display: none;
      }
    }

    .slider-button-next {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      width: 27px;
      height: 51px;
      background: url('../img/icons/icon-arrow-gray-right.png') center center no-repeat;
      background-size: cover;
      cursor: pointer;
      transition: .2s;

      &:hover {
        transform: translateY(calc(-50% - 1px));
      }

      @media (max-width: $bpPhone) {
        display: none;
      }
    }

    .item__image {
      width: 100%;
      display: block;
      margin-bottom: 20px;

      &:last-child {
        margin-bottom: 0;
      }

      .image {
        width: 100%;
      }
    }

    .item__link {
      padding-bottom: 2px;

      .link {
        display: inline-block;
        text-align: center;
        background: #b5c2c8;
        padding: 7px 20px;
        color: #fff;
        font-size: 12px;
        font-weight: 700;
        box-shadow: 2px 2px 2px rgba(0,0,0,.2);

        &:hover {
          background: #EAF7FD;
          color: $primaryColor;
        }

        &:active {
          background: #666E73;
        }
      }
    }
  }

}